<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299487844774-hr0gpg1qn27goh453l8ov2891jdpb4d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299487844774-hr0gpg1qn27goh453l8ov2891jdpb4d2</string>
	<key>API_KEY</key>
	<string>AIzaSyDWooIwz9kHGu65PWiADW4_8lFUFPrWRgY</string>
	<key>GCM_SENDER_ID</key>
	<string>299487844774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.finia.app</string>
	<key>PROJECT_ID</key>
	<string>finiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>finiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299487844774:ios:3cbbf9d44bb5d2ea2c9767</string>
	
</dict>
</plist>